body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #000; */
    position: relative;
    min-height: 100vh;
   
}
header {
    /* place-items: center; */
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px; 
    padding: 0 20px;
    
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    margin: 0;
}
iframe {
    position: absolute;
    top: 100px;
    bottom: 100px;
    width: 100%;
    height: calc(100% - 200px);
    border: none;
    z-index: 1;
    /* align-content: center; */
}
footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    width: 100%; 
    position: fixed;
    bottom: 0;
    /* left: 0; */
    margin: 0;
    padding: 0;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0;
}
.top-right {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    /* position: absolute;
    top: 10px;
    right: 10px;
    display: grid;
    flex-direction: column; */
    align-items: left;
}
.linkedin-icon {
    margin-bottom: 10px;
}
